

.conteudo_agradecimento{
    background: white;
    border-radius: 15px;
    padding: 30px;
    width: 50%;
    margin: auto;

}

@media (min-width: 768px) {

 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px){

}  


/*Smooth Scrolling para descer à sessão*/
html {
    scroll-behavior: smooth
}

body{
    font-family: Poppins, Helvetica;
    color: #7D7987;
}

/*Configuração para o formulário aparecer em cima da imagem de fundo*/
.header-carousel{
    min-height: 680px;
    width: 100%;
    background: url("images/background.svg") center center;
    background-size: cover;
}

/*Configuração para o formulário ser responsivo*/
.form-box{
    display: flex;
    flex-direction: column;
}

/*Configuração para aparecer o fundo branco no formulário*/
.grid {
    display: grid;
    grid: 250px / auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
  
  .grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
}

/*Customização do botão de submit*/
input[type=submit] {
    padding:5px 15px; 
    background:#14128C; 
    color: white;
    font-size: 16px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.header-text-body{
    width: 300px;
    margin-top: 150px;
    margin-left: 150px;
    font-weight: bold;
    font-size: 1.5em;
    color: #14128C;     
}
    

/*Configurações da seção abordagens*/
.display-5{
    margin-top: 40px;
    font-family: 'Comfortaa', cursive;
}

.motivos{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    text-align: justify;
}

h6{
    margin-top: 27px;
    text-align: center;
    font-family: Poppins, Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 56px;
    color: #14128C;
}

img .icones{
    float:center;
    margin: 0 auto;
}

.abordagem{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    text-align: justify;
}

/*Configurações de padding do conteudo*/
.padding{
    padding-bottom: 15px;
}

/*Configuração da área do formulário*/
.conteudoform{
    position: relative;
    text-align: center;
}

/*Configurações da seção terapia online*/
.icones-terapia{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    text-align: justify;
}




/*Configurações da seção sobre nós*/
.sobre{
    color: #14128C;
}

.nossa-missao{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    text-align: justify;
}


/*Configuração do local onde ficam os ícones das mídias sociais*/
.socialmedia{
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: inline-block;
}

/*Configuração dos ícones*/
i{
    width: 100px;
    height: 100px;
    display: inline-block;
}

/*Media Query*/
@media screen and (max-width: 450px) {
    .header-carousel{
        min-height: 500px;
        margin: 0 auto;
        width: 100%;
        background: url("images/background.svg") center center;
        background-size: cover;
    }
    .header-text-body{
        margin-top: 70px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1em;
        color: #14128C;     
    }
}



@media screen and (max-width: 414px) {
    .header-carousel{
        min-height: 500px;
        margin: 0 auto;
        width: 100%;
        background: url("images/background.svg") center center;
        background-size: cover;
    }
    .header-text-body{
        margin-top: 70px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1em;
        color: #14128C;     
    }
}


@media screen and (max-width: 411px) {
    .header-carousel{
        min-height: 500px;
        margin: 0 auto;
        width: 100%;
        background: url("images/background.svg") center center;
        background-size: cover;
    }
    .header-text-body{
        margin-top: 70px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1em;
        color: #14128C;     
    }
}



@media screen and (max-width: 361px) {
    .header-carousel{
        min-height: 500px;
        margin: 0 auto;
        width: 100%;
        background: url("images/background.svg") center center;
        background-size: cover;
    }
    .header-text-body{
        margin-top: 70px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1em;
        color: #14128C;     
    }
}

@media screen and (max-width: 320px) {
    .header-carousel{
        min-height: 500px;
        margin: 0 auto;
        width: 100%;
        background: url("images/background.svg") center center;
        background-size: cover;
    }
    .header-text-body{
        margin-top: 70px;
        margin-left: 2px;
        font-weight: bold;
        font-size: 1em;
        color: #14128C;     
    }
}

@media screen and (max-width: 280px) {
    .header-carousel{
        min-height: 500px;
        margin: 0 auto;
        width: 100%;
        background: url("images/background.svg") center center;
        background-size: cover;
    }
    .header-text-body{
        margin-top: 70px;
        margin-left: 1px;
        font-weight: bold;
        font-size: 0.5em;
        color: #14128C;     
    }
    .grid {
        display: grid;
        grid: 50%/ auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
      
      .grid > div {
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        text-align: center;
        font-size: 14px;
        padding: 20px 0;
    }

    .header-text-body{
        width: 250px;
        margin-top: 150px;
        font-weight: bold;
        font-size: 1.5em;
        color: #14128C;     
    }
}